Package: avarice
Version: 2.14-7
Section: base
Priority: optional
Architecture: amd64
Depends: libhidapi-dev, libusb-1.0-0-dev
Maintainer: Florin Popescu <florinsgpopescu@gmail.com>
Description: AVaRICE
 GDB debug server for AVR microcontrollers
